.hero_container {
  width: 40%;
  margin: 3rem auto;
  text-align: center;
}

.hero_heading {
  font-size: 6.8rem;
  font-weight: 500;
  background: linear-gradient(to bottom, #f1f1ef, rgba(242, 242, 240, 0.3));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero_description {
  font-size: 1.8rem;
}

.hero_heading,
.hero_description {
  margin-bottom: 2rem;
}

.hero_button {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1.5rem 4rem;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  border-radius: 10rem;
  cursor: pointer;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(39, 138, 110, 0.2);
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
}

.hero_button::before {
  content: "";
  position: absolute;
  height: 2rem;
  width: 2rem;
  background: #278a6e;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  filter: blur(10px);
}

.hero_button:hover {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(39, 138, 110, 0.3);
}

.hero_button svg {
  vertical-align: middle;
  margin-left: 1rem;
}
