.feature_heading {
  /* margin: 55rem auto 0 auto; */
  margin: 3.8rem auto 0 auto;
  text-align: center;
  font-size: 5.6rem;
  width: 40%;
  font-weight: 500;
  background: linear-gradient(to bottom, #f1f1ef, rgba(242, 242, 240, 0.3));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card_container {
  width: 90%;
  display: grid;
  margin: 5.8rem auto 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.card_container::nth-child(1) {
  background: red;
}
