.feature_container {
  margin: 4rem 0;
}

.feature_heading {
  margin: 0 auto;
  text-align: center;
  font-size: 5.6rem;
  width: 40%;
  font-weight: 500;
  background: linear-gradient(to bottom, #f1f1ef, rgba(242, 242, 240, 0.3));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card_container {
  display: flex;
  justify-content: center;
  gap: 1.8rem;
  margin-top: 4rem;
  flex-wrap: wrap;
}
